$black: #000000
$white: #FFFFFF
$gray: #D8D8D8
$orange: #FF7C00
$purple: #DB00BF
$blue: #1614FD
$red: #D50000

$colorPrimary: $orange
$colorSecondary: $purple
$colorTertiary: $blue
$colorDanger: $red

$colorVerticalGradient: linear-gradient(to bottom left, #a804af, #0b13fd, #55ac2f, #fdfc00, #ffa509, #f42e2c, #ef2667, #b306a9)
$colorHorizontalGradient: linear-gradient(to left, #a804af, #0b13fd, #55ac2f, #fdfc00, #ffa509, #f42e2c, #ef2667, #b306a9)

$colorBackground: $white

$screen-sm-min: 980px
$screen-md-min: 1200px
$screen-lg-min: 1600px
$screen-xl-min: 1900px
